CDC/.vscode
CDC/main.toc
CDC/main.synctex.gz
CDC/main.log
CDC/main.lof
CDC/main.ist
CDC/main.acn
CDC/main.acr
CDC/main.alg
CDC/main.aux
CDC/main.glg
CDC/main.glo
CDC/main.gls
CDC/main.glsdefs
CDC/indent.log
CDC/main.aux
CDC/main.ist
CDC/main.lof
CDC/main.lot
CDC/main.pdf
CDC/main.synctex.gz
CDC/main.toc

*.vscode/
Stockage_Distant/APP/.vscode
Stockage_Distant/APP/.github
Stockage_Distant/APP/utils/__pycache__/*

*.DS_Store
Stockage_Distant/APP/static/.DS_Store
Stockage_Distant/APP/utils/__pycache__/sql_db.cpython-313.pyc
Stockage_Distant/APP/utils/__pycache__/data_receiver.cpython-313.pyc
