<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ t("error.title") }}</title>
    {% include '_favicon.html' %}
    {% include '_styles.html' %}

    <style>
        iframe {
            width: 100%;
            height: 90vh;
            border: none;
        }
        .error-wrapper {
            padding: 40px;
            text-align: center;
        }
        h2 {
            margin-top: 40px;
        }
    </style>
</head>
<body>
    {% include '_navbar.html' %}

    <div class="error-wrapper">
        <h2>{{ t("error.h2") }}</h2>
        <p>{{ t("error.text") }}</p>
    </div>

    {% include '_footer.html' %}
</body>
</html>

