<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_54b69513dd29936cf3ce2c8bd9438f01 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_54b69513dd29936cf3ce2c8bd9438f01" ></div>
        
</body>
<script>
    
    
            var map_54b69513dd29936cf3ce2c8bd9438f01 = L.map(
                "map_54b69513dd29936cf3ce2c8bd9438f01",
                {
                    center: [47.2819, -1.5159],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 14,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_554ac7d1d074ccfbf48fc10b24bfc420 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_554ac7d1d074ccfbf48fc10b24bfc420.addTo(map_54b69513dd29936cf3ce2c8bd9438f01);
        
    
            var marker_d369b428790c12f109b67eb6c826248d = L.marker(
                [47.202467, -1.144091],
                {
}
            ).addTo(map_54b69513dd29936cf3ce2c8bd9438f01);
        
    
        var popup_b4955efe7d46e25b50df6c6ef88e06fe = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2f8f43325d43420b0d2a9fb8125014ec = $(`<div id="html_2f8f43325d43420b0d2a9fb8125014ec" style="width: 100.0%; height: 100.0%;">             <h3>Camera 0</h3>             <a href="#" onclick="window.top.location.href='/battery/0/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/0'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_b4955efe7d46e25b50df6c6ef88e06fe.setContent(html_2f8f43325d43420b0d2a9fb8125014ec);
            
        

        marker_d369b428790c12f109b67eb6c826248d.bindPopup(popup_b4955efe7d46e25b50df6c6ef88e06fe)
        ;

        
    
    
            var marker_1e17596dd85463c9c1ed66cb5f911936 = L.marker(
                [47.282098, -1.516272],
                {
}
            ).addTo(map_54b69513dd29936cf3ce2c8bd9438f01);
        
    
        var popup_a36b83e386e5419a689a0ddf3276091d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5782d72a99faf00dd785536ca2b0958c = $(`<div id="html_5782d72a99faf00dd785536ca2b0958c" style="width: 100.0%; height: 100.0%;">             <h3>Camera 1</h3>             <a href="#" onclick="window.top.location.href='/battery/1/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/1'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_a36b83e386e5419a689a0ddf3276091d.setContent(html_5782d72a99faf00dd785536ca2b0958c);
            
        

        marker_1e17596dd85463c9c1ed66cb5f911936.bindPopup(popup_a36b83e386e5419a689a0ddf3276091d)
        ;

        
    
    
            var marker_7faf4414b3fa79bd285689d4ea3de75c = L.marker(
                [47.2819, -1.5159],
                {
}
            ).addTo(map_54b69513dd29936cf3ce2c8bd9438f01);
        
    
        var popup_75b650eac9b4f7f7c0688ab320f6c849 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2f8b19739d51f3a20c2bab2d4a5aa942 = $(`<div id="html_2f8b19739d51f3a20c2bab2d4a5aa942" style="width: 100.0%; height: 100.0%;">             <h3>Camera 2</h3>             <a href="#" onclick="window.top.location.href='/battery/2/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/2'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_75b650eac9b4f7f7c0688ab320f6c849.setContent(html_2f8b19739d51f3a20c2bab2d4a5aa942);
            
        

        marker_7faf4414b3fa79bd285689d4ea3de75c.bindPopup(popup_75b650eac9b4f7f7c0688ab320f6c849)
        ;

        
    
    
            var marker_b3bfdd0d6466967d23699d5a772dbaf3 = L.marker(
                [47.13888, -1.33302],
                {
}
            ).addTo(map_54b69513dd29936cf3ce2c8bd9438f01);
        
    
        var popup_1e9ac56f4f489e64eadbe2ab352d74b0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_cf853434d477251cffbcb69a93d49162 = $(`<div id="html_cf853434d477251cffbcb69a93d49162" style="width: 100.0%; height: 100.0%;">             <h3>Camera 4</h3>             <a href="#" onclick="window.top.location.href='/battery/4/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/4'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_1e9ac56f4f489e64eadbe2ab352d74b0.setContent(html_cf853434d477251cffbcb69a93d49162);
            
        

        marker_b3bfdd0d6466967d23699d5a772dbaf3.bindPopup(popup_1e9ac56f4f489e64eadbe2ab352d74b0)
        ;

        
    
    
            var marker_8204ac7a305cfaa2a5ecc596f10e0485 = L.marker(
                [46.1796, -1.20119],
                {
}
            ).addTo(map_54b69513dd29936cf3ce2c8bd9438f01);
        
    
        var popup_5b3e214354dbec20f6eca3970435e488 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a9b119908e02d7b524ffe98db2008283 = $(`<div id="html_a9b119908e02d7b524ffe98db2008283" style="width: 100.0%; height: 100.0%;">             <h3>Camera 5</h3>             <a href="#" onclick="window.top.location.href='/battery/5/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/5'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_5b3e214354dbec20f6eca3970435e488.setContent(html_a9b119908e02d7b524ffe98db2008283);
            
        

        marker_8204ac7a305cfaa2a5ecc596f10e0485.bindPopup(popup_5b3e214354dbec20f6eca3970435e488)
        ;

        
    
</script>
</html>