<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b8c454185c53a3c9400b16eb12447d6e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_b8c454185c53a3c9400b16eb12447d6e" ></div>
        
</body>
<script>
    
    
            var map_b8c454185c53a3c9400b16eb12447d6e = L.map(
                "map_b8c454185c53a3c9400b16eb12447d6e",
                {
                    center: [47.2819, -1.5159],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 14,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_b45e4d5cd4d5aef357925e43c0754607 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_b45e4d5cd4d5aef357925e43c0754607.addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
            var marker_a457f90d1443d69874b2ce2792454f95 = L.marker(
                [47.202467, -1.144091],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_2781e2edc55e5f361cbc2ff6093f55d9 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_de7638c2a86eb48f9a6aeacd4e25b1a3 = $(`<div id="html_de7638c2a86eb48f9a6aeacd4e25b1a3" style="width: 100.0%; height: 100.0%;">             <h3>Camera 0</h3>             <a href="#" onclick="window.top.location.href='/battery/0/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/0'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_2781e2edc55e5f361cbc2ff6093f55d9.setContent(html_de7638c2a86eb48f9a6aeacd4e25b1a3);
            
        

        marker_a457f90d1443d69874b2ce2792454f95.bindPopup(popup_2781e2edc55e5f361cbc2ff6093f55d9)
        ;

        
    
    
            var marker_a4e054e8733d02682bd6beeed2a28df9 = L.marker(
                [47.282071, -1.517291],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_10cb10aaeb758713665eac0b5598b1a5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_8d6ace484e44982a6e9437da83c22e99 = $(`<div id="html_8d6ace484e44982a6e9437da83c22e99" style="width: 100.0%; height: 100.0%;">             <h3>Camera 1</h3>             <a href="#" onclick="window.top.location.href='/battery/1/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/1'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_10cb10aaeb758713665eac0b5598b1a5.setContent(html_8d6ace484e44982a6e9437da83c22e99);
            
        

        marker_a4e054e8733d02682bd6beeed2a28df9.bindPopup(popup_10cb10aaeb758713665eac0b5598b1a5)
        ;

        
    
    
            var marker_85e82b219ef65d1322716094c3be3700 = L.marker(
                [47.2819, -1.5159],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_2f9f5661b7fb8ef7d8ae4a69a083ae84 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d4bdc56776e0b3aba64c95d30986b58b = $(`<div id="html_d4bdc56776e0b3aba64c95d30986b58b" style="width: 100.0%; height: 100.0%;">             <h3>Camera 2</h3>             <a href="#" onclick="window.top.location.href='/battery/2/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/2'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_2f9f5661b7fb8ef7d8ae4a69a083ae84.setContent(html_d4bdc56776e0b3aba64c95d30986b58b);
            
        

        marker_85e82b219ef65d1322716094c3be3700.bindPopup(popup_2f9f5661b7fb8ef7d8ae4a69a083ae84)
        ;

        
    
    
            tile_layer_b45e4d5cd4d5aef357925e43c0754607.addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
            var marker_58ea76c7f96cbddfd3f6c00ea341d319 = L.marker(
                [47.202467, -1.144091],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_93bed8dc94b1e1c905c3cddce0b7e766 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_aed163b62151657f112e32ee2c3ea008 = $(`<div id="html_aed163b62151657f112e32ee2c3ea008" style="width: 100.0%; height: 100.0%;">             <h3>Camera 0</h3>             <a href="#" onclick="window.top.location.href='/battery/0/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/0'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_93bed8dc94b1e1c905c3cddce0b7e766.setContent(html_aed163b62151657f112e32ee2c3ea008);
            
        

        marker_58ea76c7f96cbddfd3f6c00ea341d319.bindPopup(popup_93bed8dc94b1e1c905c3cddce0b7e766)
        ;

        
    
    
            var marker_664785c642c431341e4ae221a5b9142b = L.marker(
                [47.282454, -1.517111],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_a1e82b319588494d029a63fb72fa9fec = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_331095a11e07699c25262efeacd334e3 = $(`<div id="html_331095a11e07699c25262efeacd334e3" style="width: 100.0%; height: 100.0%;">             <h3>Camera 1</h3>             <a href="#" onclick="window.top.location.href='/battery/1/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/1'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_a1e82b319588494d029a63fb72fa9fec.setContent(html_331095a11e07699c25262efeacd334e3);
            
        

        marker_664785c642c431341e4ae221a5b9142b.bindPopup(popup_a1e82b319588494d029a63fb72fa9fec)
        ;

        
    
    
            var marker_ce08844a19235a2a36c7133ebe968361 = L.marker(
                [47.2819, -1.5159],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_36dee759e0fd1ed7eb634ea84c86abad = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c41f1b042c76c8126501f29f6575e8aa = $(`<div id="html_c41f1b042c76c8126501f29f6575e8aa" style="width: 100.0%; height: 100.0%;">             <h3>Camera 2</h3>             <a href="#" onclick="window.top.location.href='/battery/2/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/2'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_36dee759e0fd1ed7eb634ea84c86abad.setContent(html_c41f1b042c76c8126501f29f6575e8aa);
            
        

        marker_ce08844a19235a2a36c7133ebe968361.bindPopup(popup_36dee759e0fd1ed7eb634ea84c86abad)
        ;

        
    
    
            tile_layer_b45e4d5cd4d5aef357925e43c0754607.addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
            var marker_a49e4124dc394227d372d1c557e88614 = L.marker(
                [47.202467, -1.144091],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_d9ad11552d494ab56140c0579c65237f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_11d9badfe51d80c32dffa910a1e33171 = $(`<div id="html_11d9badfe51d80c32dffa910a1e33171" style="width: 100.0%; height: 100.0%;">             <h3>Camera 0</h3>             <a href="#" onclick="window.top.location.href='/battery/0/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/0'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_d9ad11552d494ab56140c0579c65237f.setContent(html_11d9badfe51d80c32dffa910a1e33171);
            
        

        marker_a49e4124dc394227d372d1c557e88614.bindPopup(popup_d9ad11552d494ab56140c0579c65237f)
        ;

        
    
    
            var marker_2b96cf42602d14b322fb01d1857b0d10 = L.marker(
                [47.282454, -1.517111],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_d8c10194d89f73eba3072afbde13b185 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9c3408778017b9219cea217b7e1d9f1b = $(`<div id="html_9c3408778017b9219cea217b7e1d9f1b" style="width: 100.0%; height: 100.0%;">             <h3>Camera 1</h3>             <a href="#" onclick="window.top.location.href='/battery/1/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/1'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_d8c10194d89f73eba3072afbde13b185.setContent(html_9c3408778017b9219cea217b7e1d9f1b);
            
        

        marker_2b96cf42602d14b322fb01d1857b0d10.bindPopup(popup_d8c10194d89f73eba3072afbde13b185)
        ;

        
    
    
            var marker_fcb4b99a9e1153ed7c5a42fb60fbd509 = L.marker(
                [47.2819, -1.5159],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_352781a12877aa3bb896dc01f05a56dd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_be1731427983e4dd5fc6658b3f286655 = $(`<div id="html_be1731427983e4dd5fc6658b3f286655" style="width: 100.0%; height: 100.0%;">             <h3>Camera 2</h3>             <a href="#" onclick="window.top.location.href='/battery/2/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/2'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_352781a12877aa3bb896dc01f05a56dd.setContent(html_be1731427983e4dd5fc6658b3f286655);
            
        

        marker_fcb4b99a9e1153ed7c5a42fb60fbd509.bindPopup(popup_352781a12877aa3bb896dc01f05a56dd)
        ;

        
    
    
            tile_layer_b45e4d5cd4d5aef357925e43c0754607.addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
            var marker_db4436aa635c446be69d652937659b46 = L.marker(
                [47.202467, -1.144091],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_a42cbfba1659fd98773d74ff2512cd4a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d9b4e080de9d9d50a5619735c5ad6b24 = $(`<div id="html_d9b4e080de9d9d50a5619735c5ad6b24" style="width: 100.0%; height: 100.0%;">             <h3>Camera 0</h3>             <a href="#" onclick="window.top.location.href='/battery/0/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/0'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_a42cbfba1659fd98773d74ff2512cd4a.setContent(html_d9b4e080de9d9d50a5619735c5ad6b24);
            
        

        marker_db4436aa635c446be69d652937659b46.bindPopup(popup_a42cbfba1659fd98773d74ff2512cd4a)
        ;

        
    
    
            var marker_3f54aa6b184b2abe2f3dab09f23fca27 = L.marker(
                [47.282035, -1.516619],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_89d8e06e24abaa4aa5e3c0076b3b6572 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_761ba8a2ffd98b5cf2cc5faff6e97bfa = $(`<div id="html_761ba8a2ffd98b5cf2cc5faff6e97bfa" style="width: 100.0%; height: 100.0%;">             <h3>Camera 1</h3>             <a href="#" onclick="window.top.location.href='/battery/1/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/1'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_89d8e06e24abaa4aa5e3c0076b3b6572.setContent(html_761ba8a2ffd98b5cf2cc5faff6e97bfa);
            
        

        marker_3f54aa6b184b2abe2f3dab09f23fca27.bindPopup(popup_89d8e06e24abaa4aa5e3c0076b3b6572)
        ;

        
    
    
            var marker_e02d8f3cf15134af50398449065f5f54 = L.marker(
                [47.2819, -1.5159],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_357dca578e836713f6ac18a2aa053b6c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_45f71385ee1c073b8c45cc1e3efcdbed = $(`<div id="html_45f71385ee1c073b8c45cc1e3efcdbed" style="width: 100.0%; height: 100.0%;">             <h3>Camera 2</h3>             <a href="#" onclick="window.top.location.href='/battery/2/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/2'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_357dca578e836713f6ac18a2aa053b6c.setContent(html_45f71385ee1c073b8c45cc1e3efcdbed);
            
        

        marker_e02d8f3cf15134af50398449065f5f54.bindPopup(popup_357dca578e836713f6ac18a2aa053b6c)
        ;

        
    
    
            var marker_585c186d6bcafda1b95e98d65fe773d5 = L.marker(
                [47.13888, -1.33302],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_f6d3c587d29c5e3efcac8e2b496200bf = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5534b23fba746c793a7a8c59e3b85d10 = $(`<div id="html_5534b23fba746c793a7a8c59e3b85d10" style="width: 100.0%; height: 100.0%;">             <h3>Camera 4</h3>             <a href="#" onclick="window.top.location.href='/battery/4/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/4'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_f6d3c587d29c5e3efcac8e2b496200bf.setContent(html_5534b23fba746c793a7a8c59e3b85d10);
            
        

        marker_585c186d6bcafda1b95e98d65fe773d5.bindPopup(popup_f6d3c587d29c5e3efcac8e2b496200bf)
        ;

        
    
    
            tile_layer_b45e4d5cd4d5aef357925e43c0754607.addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
            var marker_0331abc49f195fcb8283ae4908a0a94e = L.marker(
                [47.202467, -1.144091],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_969057cbdaa22f9b3ca5b3f464309de8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2dfc9ebeb54c56fa160074882288b4f1 = $(`<div id="html_2dfc9ebeb54c56fa160074882288b4f1" style="width: 100.0%; height: 100.0%;">             <h3>Camera 0</h3>             <a href="#" onclick="window.top.location.href='/battery/0/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/0'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_969057cbdaa22f9b3ca5b3f464309de8.setContent(html_2dfc9ebeb54c56fa160074882288b4f1);
            
        

        marker_0331abc49f195fcb8283ae4908a0a94e.bindPopup(popup_969057cbdaa22f9b3ca5b3f464309de8)
        ;

        
    
    
            var marker_5722a70f17fb54d2930555abb6d10383 = L.marker(
                [47.282035, -1.516619],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_5d8906da520c00406173f6080f1d329c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a49bc28aac9762b3d7e24f732b2d0fa4 = $(`<div id="html_a49bc28aac9762b3d7e24f732b2d0fa4" style="width: 100.0%; height: 100.0%;">             <h3>Camera 1</h3>             <a href="#" onclick="window.top.location.href='/battery/1/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/1'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_5d8906da520c00406173f6080f1d329c.setContent(html_a49bc28aac9762b3d7e24f732b2d0fa4);
            
        

        marker_5722a70f17fb54d2930555abb6d10383.bindPopup(popup_5d8906da520c00406173f6080f1d329c)
        ;

        
    
    
            var marker_df5c24ae4662d5ea3ec0df258fb2fb6f = L.marker(
                [47.2819, -1.5159],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_e475270eb01d3f082cd488fd4b0df42f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_52c57eff95066348af113574570304d1 = $(`<div id="html_52c57eff95066348af113574570304d1" style="width: 100.0%; height: 100.0%;">             <h3>Camera 2</h3>             <a href="#" onclick="window.top.location.href='/battery/2/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/2'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_e475270eb01d3f082cd488fd4b0df42f.setContent(html_52c57eff95066348af113574570304d1);
            
        

        marker_df5c24ae4662d5ea3ec0df258fb2fb6f.bindPopup(popup_e475270eb01d3f082cd488fd4b0df42f)
        ;

        
    
    
            var marker_9a24cabd4cd164b0f0432dbf86eccf7c = L.marker(
                [47.13888, -1.33302],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_fc088593f5ac977331c94f0d3a9884f8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_052f7b8c49e5bdabeef8ba78d1710feb = $(`<div id="html_052f7b8c49e5bdabeef8ba78d1710feb" style="width: 100.0%; height: 100.0%;">             <h3>Camera 4</h3>             <a href="#" onclick="window.top.location.href='/battery/4/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/4'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_fc088593f5ac977331c94f0d3a9884f8.setContent(html_052f7b8c49e5bdabeef8ba78d1710feb);
            
        

        marker_9a24cabd4cd164b0f0432dbf86eccf7c.bindPopup(popup_fc088593f5ac977331c94f0d3a9884f8)
        ;

        
    
    
            tile_layer_b45e4d5cd4d5aef357925e43c0754607.addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
            var marker_9fcb740f618b46f90a8618b3bfd58c53 = L.marker(
                [47.202467, -1.144091],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_c6aa85a3d016cd8608706998acf12607 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6421aca2e17a7d28aa84186abb5620b7 = $(`<div id="html_6421aca2e17a7d28aa84186abb5620b7" style="width: 100.0%; height: 100.0%;">             <h3>Camera 0</h3>             <a href="#" onclick="window.top.location.href='/battery/0/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/0'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_c6aa85a3d016cd8608706998acf12607.setContent(html_6421aca2e17a7d28aa84186abb5620b7);
            
        

        marker_9fcb740f618b46f90a8618b3bfd58c53.bindPopup(popup_c6aa85a3d016cd8608706998acf12607)
        ;

        
    
    
            var marker_4b7eb6139e7abb18416c7d2d4a28ee44 = L.marker(
                [47.282035, -1.516619],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_1932787dcbeed5b849b085f136c93806 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ab26edf698a76b90a81a95f823a10ef3 = $(`<div id="html_ab26edf698a76b90a81a95f823a10ef3" style="width: 100.0%; height: 100.0%;">             <h3>Camera 1</h3>             <a href="#" onclick="window.top.location.href='/battery/1/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/1'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_1932787dcbeed5b849b085f136c93806.setContent(html_ab26edf698a76b90a81a95f823a10ef3);
            
        

        marker_4b7eb6139e7abb18416c7d2d4a28ee44.bindPopup(popup_1932787dcbeed5b849b085f136c93806)
        ;

        
    
    
            var marker_2574224b0d78e7a0e7736c780e90c1d4 = L.marker(
                [47.2819, -1.5159],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_acd09dbba1bb66a2990067730e9fb70d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_8b849039578795b338611aa39678101f = $(`<div id="html_8b849039578795b338611aa39678101f" style="width: 100.0%; height: 100.0%;">             <h3>Camera 2</h3>             <a href="#" onclick="window.top.location.href='/battery/2/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/2'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_acd09dbba1bb66a2990067730e9fb70d.setContent(html_8b849039578795b338611aa39678101f);
            
        

        marker_2574224b0d78e7a0e7736c780e90c1d4.bindPopup(popup_acd09dbba1bb66a2990067730e9fb70d)
        ;

        
    
    
            var marker_1367039e9381123e1c7a22d91ef0a42d = L.marker(
                [47.13888, -1.33302],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_c9fcfd8897ccba5ff97ae67fb974b60d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1e59afb1135dba3cf6bcb4171a9d129a = $(`<div id="html_1e59afb1135dba3cf6bcb4171a9d129a" style="width: 100.0%; height: 100.0%;">             <h3>Camera 4</h3>             <a href="#" onclick="window.top.location.href='/battery/4/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/4'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_c9fcfd8897ccba5ff97ae67fb974b60d.setContent(html_1e59afb1135dba3cf6bcb4171a9d129a);
            
        

        marker_1367039e9381123e1c7a22d91ef0a42d.bindPopup(popup_c9fcfd8897ccba5ff97ae67fb974b60d)
        ;

        
    
    
            var marker_d0cedd546e73bbe836be4362ea6a5709 = L.marker(
                [46.1796, -1.20119],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_27002a8e13f4b32edf49578bfcf35652 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9f0df8b9fdfd4920c6c928817985d2cd = $(`<div id="html_9f0df8b9fdfd4920c6c928817985d2cd" style="width: 100.0%; height: 100.0%;">             <h3>Camera 5</h3>             <a href="#" onclick="window.top.location.href='/battery/5/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/5'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_27002a8e13f4b32edf49578bfcf35652.setContent(html_9f0df8b9fdfd4920c6c928817985d2cd);
            
        

        marker_d0cedd546e73bbe836be4362ea6a5709.bindPopup(popup_27002a8e13f4b32edf49578bfcf35652)
        ;

        
    
    
            tile_layer_b45e4d5cd4d5aef357925e43c0754607.addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
            var marker_f4e4251daec487102c0240bb9a9a0adf = L.marker(
                [47.202467, -1.144091],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_9f78add6b3b8832d9c04d05040c38eb4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_8701a7023d8ad0121008c1b30f91f5c8 = $(`<div id="html_8701a7023d8ad0121008c1b30f91f5c8" style="width: 100.0%; height: 100.0%;">             <h3>Camera 0</h3>             <a href="#" onclick="window.top.location.href='/battery/0/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/0'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_9f78add6b3b8832d9c04d05040c38eb4.setContent(html_8701a7023d8ad0121008c1b30f91f5c8);
            
        

        marker_f4e4251daec487102c0240bb9a9a0adf.bindPopup(popup_9f78add6b3b8832d9c04d05040c38eb4)
        ;

        
    
    
            var marker_11c67811fe39aec17d88f64fdc1d119d = L.marker(
                [47.282035, -1.516619],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_5a11de0ac892254273c77e7a8881e2ea = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ed3fe26c40631717c5789d4bcf57ad79 = $(`<div id="html_ed3fe26c40631717c5789d4bcf57ad79" style="width: 100.0%; height: 100.0%;">             <h3>Camera 1</h3>             <a href="#" onclick="window.top.location.href='/battery/1/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/1'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_5a11de0ac892254273c77e7a8881e2ea.setContent(html_ed3fe26c40631717c5789d4bcf57ad79);
            
        

        marker_11c67811fe39aec17d88f64fdc1d119d.bindPopup(popup_5a11de0ac892254273c77e7a8881e2ea)
        ;

        
    
    
            var marker_ad9a68103c86d4ba6e093b3f5acd56bb = L.marker(
                [47.2819, -1.5159],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_c90e9894128eed1bb3fd58143dfc717f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2c1d5b71737bcbd2efaf34b79828e440 = $(`<div id="html_2c1d5b71737bcbd2efaf34b79828e440" style="width: 100.0%; height: 100.0%;">             <h3>Camera 2</h3>             <a href="#" onclick="window.top.location.href='/battery/2/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/2'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_c90e9894128eed1bb3fd58143dfc717f.setContent(html_2c1d5b71737bcbd2efaf34b79828e440);
            
        

        marker_ad9a68103c86d4ba6e093b3f5acd56bb.bindPopup(popup_c90e9894128eed1bb3fd58143dfc717f)
        ;

        
    
    
            var marker_3d2c497b49a918cbfe191b95201538f6 = L.marker(
                [47.13888, -1.33302],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_7769f0327da454cf30b06b4ba3ef8587 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3d1b473546dc9867abeb9408abaa6332 = $(`<div id="html_3d1b473546dc9867abeb9408abaa6332" style="width: 100.0%; height: 100.0%;">             <h3>Camera 4</h3>             <a href="#" onclick="window.top.location.href='/battery/4/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/4'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_7769f0327da454cf30b06b4ba3ef8587.setContent(html_3d1b473546dc9867abeb9408abaa6332);
            
        

        marker_3d2c497b49a918cbfe191b95201538f6.bindPopup(popup_7769f0327da454cf30b06b4ba3ef8587)
        ;

        
    
    
            var marker_2ac961f14f9a35ddad20b6ab93f65f51 = L.marker(
                [46.1796, -1.20119],
                {
}
            ).addTo(map_b8c454185c53a3c9400b16eb12447d6e);
        
    
        var popup_12fad416810840f8456414aacd5068fb = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0d4fd1299edd3f43d3d535e10cfc1c16 = $(`<div id="html_0d4fd1299edd3f43d3d535e10cfc1c16" style="width: 100.0%; height: 100.0%;">             <h3>Camera 5</h3>             <a href="#" onclick="window.top.location.href='/battery/5/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/5'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_12fad416810840f8456414aacd5068fb.setContent(html_0d4fd1299edd3f43d3d535e10cfc1c16);
            
        

        marker_2ac961f14f9a35ddad20b6ab93f65f51.bindPopup(popup_12fad416810840f8456414aacd5068fb)
        ;

        
    
</script>
</html>