<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3074335940c4a63cb1cf16805f17ba6a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_3074335940c4a63cb1cf16805f17ba6a" ></div>
        
</body>
<script>
    
    
            var map_3074335940c4a63cb1cf16805f17ba6a = L.map(
                "map_3074335940c4a63cb1cf16805f17ba6a",
                {
                    center: [47.368, -1.386],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 13,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_429097274787ee350347f014e3171267 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_429097274787ee350347f014e3171267.addTo(map_3074335940c4a63cb1cf16805f17ba6a);
        
    
            var marker_e5266910a5073e4407d5480c03757df8 = L.marker(
                [47.202467, -1.144091],
                {
}
            ).addTo(map_3074335940c4a63cb1cf16805f17ba6a);
        
    
        var popup_8155a40fdbd72491d100b1cd6b8ac568 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_8b1b0c8ae5a3b45123bde6e2fc4dc7c3 = $(`<div id="html_8b1b0c8ae5a3b45123bde6e2fc4dc7c3" style="width: 100.0%; height: 100.0%;">             <h3>Camera 0</h3>             <a href="#" onclick="window.top.location.href='/battery/0/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/0'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_8155a40fdbd72491d100b1cd6b8ac568.setContent(html_8b1b0c8ae5a3b45123bde6e2fc4dc7c3);
            
        

        marker_e5266910a5073e4407d5480c03757df8.bindPopup(popup_8155a40fdbd72491d100b1cd6b8ac568)
        ;

        
    
    
            var marker_3df3aa07b6c5e7870d42b1aae265a7a1 = L.marker(
                [47.139061, -1.333008],
                {
}
            ).addTo(map_3074335940c4a63cb1cf16805f17ba6a);
        
    
        var popup_8706a9a9698dc31a83618cbb8331ce3b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e46b9fdf191f3c3ea2902125d8625be2 = $(`<div id="html_e46b9fdf191f3c3ea2902125d8625be2" style="width: 100.0%; height: 100.0%;">             <h3>Camera 2</h3>             <a href="#" onclick="window.top.location.href='/battery/2/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/2'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_8706a9a9698dc31a83618cbb8331ce3b.setContent(html_e46b9fdf191f3c3ea2902125d8625be2);
            
        

        marker_3df3aa07b6c5e7870d42b1aae265a7a1.bindPopup(popup_8706a9a9698dc31a83618cbb8331ce3b)
        ;

        
    
    
            tile_layer_429097274787ee350347f014e3171267.addTo(map_3074335940c4a63cb1cf16805f17ba6a);
        
    
            var marker_6a73cd0b65d1b29c62a5afdcd741344d = L.marker(
                [47.202467, -1.144091],
                {
}
            ).addTo(map_3074335940c4a63cb1cf16805f17ba6a);
        
    
        var popup_b6e098634e3de2170014ec2872b4acd3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9349ccc5505fd9b372dd75b548c78571 = $(`<div id="html_9349ccc5505fd9b372dd75b548c78571" style="width: 100.0%; height: 100.0%;">             <h3>Camera 0</h3>             <a href="#" onclick="window.top.location.href='/battery/0/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/0'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_b6e098634e3de2170014ec2872b4acd3.setContent(html_9349ccc5505fd9b372dd75b548c78571);
            
        

        marker_6a73cd0b65d1b29c62a5afdcd741344d.bindPopup(popup_b6e098634e3de2170014ec2872b4acd3)
        ;

        
    
    
            var marker_242c522ca5ab3535e1492a510e0a90b2 = L.marker(
                [47.139061, -1.333008],
                {
}
            ).addTo(map_3074335940c4a63cb1cf16805f17ba6a);
        
    
        var popup_8bdbf1dc77ce3b2fc48995adf70c8149 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a3eb6a602bb813da966c5bb0ca005069 = $(`<div id="html_a3eb6a602bb813da966c5bb0ca005069" style="width: 100.0%; height: 100.0%;">             <h3>Camera 2</h3>             <a href="#" onclick="window.top.location.href='/battery/2/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/2'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_8bdbf1dc77ce3b2fc48995adf70c8149.setContent(html_a3eb6a602bb813da966c5bb0ca005069);
            
        

        marker_242c522ca5ab3535e1492a510e0a90b2.bindPopup(popup_8bdbf1dc77ce3b2fc48995adf70c8149)
        ;

        
    
    
            tile_layer_429097274787ee350347f014e3171267.addTo(map_3074335940c4a63cb1cf16805f17ba6a);
        
    
            var marker_78e4881627e8bc96932b1aecb266ecca = L.marker(
                [47.202467, -1.144091],
                {
}
            ).addTo(map_3074335940c4a63cb1cf16805f17ba6a);
        
    
        var popup_927019f8ec4cc08b8c846525f1eb4723 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2c1fcac0a2849a24fdd4fd38de222b98 = $(`<div id="html_2c1fcac0a2849a24fdd4fd38de222b98" style="width: 100.0%; height: 100.0%;">             <h3>Camera 0</h3>             <a href="#" onclick="window.top.location.href='/battery/0/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/0'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_927019f8ec4cc08b8c846525f1eb4723.setContent(html_2c1fcac0a2849a24fdd4fd38de222b98);
            
        

        marker_78e4881627e8bc96932b1aecb266ecca.bindPopup(popup_927019f8ec4cc08b8c846525f1eb4723)
        ;

        
    
    
            var marker_b71dac7b50bb4d12d38a03f5d0c6cf26 = L.marker(
                [47.139061, -1.333008],
                {
}
            ).addTo(map_3074335940c4a63cb1cf16805f17ba6a);
        
    
        var popup_b2a1ea5d81955cb8c90072f16acd5c69 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e27a40271a5e086b077a8740c18ce738 = $(`<div id="html_e27a40271a5e086b077a8740c18ce738" style="width: 100.0%; height: 100.0%;">             <h3>Camera 2</h3>             <a href="#" onclick="window.top.location.href='/battery/2/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/2'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_b2a1ea5d81955cb8c90072f16acd5c69.setContent(html_e27a40271a5e086b077a8740c18ce738);
            
        

        marker_b71dac7b50bb4d12d38a03f5d0c6cf26.bindPopup(popup_b2a1ea5d81955cb8c90072f16acd5c69)
        ;

        
    
    
            tile_layer_429097274787ee350347f014e3171267.addTo(map_3074335940c4a63cb1cf16805f17ba6a);
        
    
            var marker_ee24a519465c0e2cca2900e9e2916ea5 = L.marker(
                [47.202467, -1.144091],
                {
}
            ).addTo(map_3074335940c4a63cb1cf16805f17ba6a);
        
    
        var popup_aec6bc70d35a91e4f7fa408bff7a27f1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_68f6c2207466de9c0f019f431d952119 = $(`<div id="html_68f6c2207466de9c0f019f431d952119" style="width: 100.0%; height: 100.0%;">             <h3>Camera 0</h3>             <a href="#" onclick="window.top.location.href='/battery/0/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/0'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_aec6bc70d35a91e4f7fa408bff7a27f1.setContent(html_68f6c2207466de9c0f019f431d952119);
            
        

        marker_ee24a519465c0e2cca2900e9e2916ea5.bindPopup(popup_aec6bc70d35a91e4f7fa408bff7a27f1)
        ;

        
    
    
            var marker_d876027084f86319798a1ea3367c5a34 = L.marker(
                [47.139061, -1.333008],
                {
}
            ).addTo(map_3074335940c4a63cb1cf16805f17ba6a);
        
    
        var popup_7b9aae8bcf2a56bac84e10aaac5590f5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1531b1af6d9929df7944718009a7f476 = $(`<div id="html_1531b1af6d9929df7944718009a7f476" style="width: 100.0%; height: 100.0%;">             <h3>Camera 2</h3>             <a href="#" onclick="window.top.location.href='/battery/2/graph'; return false;">                 Open Battery             </a>             <a href="#" onclick="window.top.location.href='/image/2'; return false;">                 Open Image             </a>             </div>`)[0];
                popup_7b9aae8bcf2a56bac84e10aaac5590f5.setContent(html_1531b1af6d9929df7944718009a7f476);
            
        

        marker_d876027084f86319798a1ea3367c5a34.bindPopup(popup_7b9aae8bcf2a56bac84e10aaac5590f5)
        ;

        
    
</script>
</html>